@primary: #FF5722;
@subtle: #999;
@secondary: #2196F3;

body, html{
    padding:0;
    margin:0;
    width:100%;
}

h1,h2,h3,h4,h5{
    margin:0;
    padding:0;
    line-height:70%;
}

.subtle{
    color:@secondary;
}

.italic{
    font-style:italic;
}

.panel:nth-of-type(1){
    position:absolute;
    bottom:-20em;
    text-align:center;
}
.panel{
    margin-left:calc(15% - 2em);
    margin-right:calc(15% - 2em);
    margin-top:2em;
    width:calc(100% - 30%);
}
.padded{
    padding:2em;
}
.primary{
    background-color: @primary;
}

.progress{
    position:relative;

    .progress-bar{
        position:absolute;
        bottom:0;
        left:0;
        top:0;
        background-color:@secondary;
        display:block;
        -webkit-transition:width 2s ease;
        transition:width 2s ease;
    }
}

.header-panel{
    position:relative;
    height:20em;
    margin-bottom:21em;
}

#balloons{
    background-image:url('../img/balloons-01.png');
    background-size:cover;
    height:5em;

    .btn{
        font-size:22pt;
    }
}

@import 'includes/profile.less';
@import 'includes/knows.less';
