@secondary: #2196F3;

#typetastic{
    color: @secondary;
}
#cursor{
    color: @secondary;
}
.blink{
    animation: blink 1s steps(2, start) infinite;
    -webkit-animation: blink 1s steps(2, start) infinite;
}
#github{
    float:right;
    width:30px;
    height:30px;
}

.group{
    margin-top:1em;
}

@keyframes blink {
 to {
   visibility: hidden;
 }
}
@-webkit-keyframes blink {
 to {
   visibility: hidden;
 }
}
