@secondary: #2196F3;

.matt{
    width:10em;
    height:10em;
    background-image:url('../img/matt.jpg');
    background-size:cover;
    border-radius:50%;
    margin-left: ~"calc(50% - 5em)";
}
.about{
    width:20em;
    height:5em;
    margin-left: ~"calc(50% - 10em)";

    .spec{
        width:33.33%;
        float:left;
        height:5em;
        position:relative;

        p{
            text-align:right;
            z-index:1;
            font-size:30pt;
            font-weight:bold;
            position:absolute;
            bottom:.2em;
            right:.5em;
            left:0;
            padding:0;
            margin:0;
            line-height:40%;

            span{
                font-size:10pt;
                font-weight:300;
                color:@secondary;
            }
        }

        i{
            font-size:38pt;
            position:absolute;
            bottom:0;
            left:0;
            color: #eee;
        }
    }
}
